*{
    padding:0;
    margin: 0;
    font-family: cursive;
}
.background{
    background-color:azure;
    height: 100vh;
    padding-top: 1px;
}
.title{
    color:rgb(255, 145, 0) ;
    text-align:center ;
    font-size: 40px;
    margin-top:10% ;
}
.display{
    color:rgb(0, 0, 0) ;
    text-align:center ;
    font-size: 25px; ;
    margin-top: 1em;
    margin-bottom:1em ;
}
.hide{
    display: none;
}
.container{
    margin: auto;
    display: grid;
    grid-template-columns:33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width:300px;
}
.tile{
    border:1px solid rgb(21, 255, 0);
    min-width:100px ;
    min-height:100px ;
    display:flex;
    justify-content:center ;
    align-items: center;
    font-size:50px ;
    cursor: pointer;

}
.playerX{
    color: rgb(0, 11, 164);
}
.playerO{
    color: rgb(184, 43, 78);
}
.control{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
#reset{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size:25px ;
    margin-left: 1em; ;
    cursor: pointer;
}
